mnt/.DS_Store
.DS_Store
Ansible_test/.DS_Store
Ansible_test/roles/.DS_Store

mnt/ext100/twitter-huge.json
ansible/unimelb-comp90024-2023-grp-39-openrc.sh
ansible/output.txt
mnt/ext100/sal.json
.gitignore
.gitignore
.gitignore
mnt/preprocessed.json
ansible/volume_mount/roles/openstack-mount/tasks/main.yaml
ansible/docker/get-pip.py
ansible/docker/output.txt
ansible/docker/unimelb-comp90024-2023-grp-39-openrc.sh
.gitignore
ansible/volume_mount/output.txt
ansible/volume_mount/unimelb-comp90024-2023-grp-39-openrc.sh
ansible/volume_mount/get-pip.py
twitter-huge.json.zip
mnt/preprocessed_zip.json
preprocessing/test_output.py
preprocessing/test_output.py
preprocessing/test.ipynb
__pycache__
MastodonStream.py
MastodonStream.py
MastodonStream.py
MastodonStream.py
MastodonStream.py
ansible/couchDB/get-pip.py
.gitignore
ansible/couchDB/unimelb-comp90024-2023-grp-39-openrc.sh
ansible/couchDB/output.txt
ansible/couchDB/output.txt
ansible/couchDB/output.txt
.gitignore
